main {
    font-family: "Noto Sans KR", sans-serif;
    text-align: center;
    padding-top: 50px;
}
main h1 {
    font-size:3.125rem;
    font-weight:800;
}
main h1 em {color:#dc0000; font-weight:800;}
main p {
    font-size:1.375rem;
    letter-spacing: -0.2px;
    font-weight:500;
    margin:15px 0 50px;
}
main .tt {
    width:948px;
    border-top:3px solid #000;
    border-bottom:3px solid #000;
    display:inline-block;
    text-align: center;
    margin-bottom:30px;
}
main .tt thead {}
main .tt thead tr {}
main .tt thead tr th {
    padding:14px 0;
    background-color:#efefef;
    text-align: center;
}
main .tt thead tr th:nth-child(1) {
    width:160px;
}
main .tt thead tr th:nth-child(2) {
    width:416px;
}
main .tt thead tr th:nth-child(3) {
    width:160px;
}
main .tt thead tr th:nth-child(4) {
    width:212px;
}
main .tt thead tr th:nth-child(4), main .tt tbody tr td:nth-child(4) {border-right:0;}
main .tt thead tr th, main .tt tbody tr td {
    border-bottom:1px solid #b6b6b6;
    border-right:1px solid #b6b6b6;
}
main .tt tbody {}
main .tt tbody tr {}
main .tt tbody tr td {
    padding:19px 0;
}
main .tt tbody tr td a {}
main .tt tbody tr td a img {}
main .num {}
main .num .choice {
    background-color:#ff003d;
    display: inline-block;
    width:24px; height:24px;
    padding-top:3px;
    color:#fff;
    margin-right:20px;
}
main .num a {
    color:#515151;
    margin-right:20px;
}